<div class="row py-5">
    <div class="col-12">
        <h1 class="text-center">The Rial News</h1>
        <p class="text-center">Las noticias m치s del corte.</p>
    </div>
</div>
<div class="row"> <!-- a침adyr gy-3 para bordes del eje y -->
    <div class="col-12">
        <% @news.each do |new| %>
            <div class="card">
            <img src='<%= new.imagen %>' class="card-img-top" style="width: 100%; height:350px;">
            <div class="card-body">
                <%= render new %>
                <div class="row">
                    <div class="col-6">
                        <%= link_to 'Comenta', "/comments/new?noticia=#{new.id}", class: 'btn btn-primary w-100' %>
                    </div>
                    <div class="col-6">
                        <%= link_to 'M치s informaci칩n', news_path(new.id), class: 'btn btn-secondary w-100' %>
                    </div>
                </div>
            </div>
          </div>
        <% end %>
    </div>
</div>
<div class="row py-5">
    <div class="col-12">
        <%= link_to "Nueva noticia", new_news_path, class: "btn btn-success w-100" %>
    </div>
</div>
